/* 111 */
#app {
  width: 200px;
  height: 200px;
  border: 1px solid black;
}
#app .content {
  width: 100px;
  height: 100px;
  background-color: red;
}
#app .content:hover {
  border: 2px solid green;
}
