.center,
#app .content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.center:hover,
#app .content:hover {
  background: pink;
}
* {
  margin: 0;
  padding: 0;
}
#app {
  position: relative;
  width: 300px;
  height: 300px;
  border: 1px solid;
  margin: 0 auto;
}
#app .content:nth-child(1) {
  width: 200px;
  height: 200px;
  background-color: red;
}
#app .content:nth-child(2) {
  width: 100px;
  height: 100px;
  background-color: green;
}
